{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {# left Menu start#}
            {{ render(controller('InfoPageBundle:Page:leftMenu')) }}
            {# left Menu end#}

            <div class="col-sx-7">

                {{ form_start(form) }}
                <div class="col-sx-12" style="text-align: center">
                    <label>ФИО</label>
                    {{ form_widget(form.name, {'attr':{'class':'form-control'} }) }}
                </div><br/>
                <div class="col-sx-12" style="text-align: center; margin-top: 25px">
                    <label>Телефон номериңиз</label>
                    {{ form_widget(form.phonenumber, {'attr':{'class':'form-control'} }) }}
                </div><br/>
                <div class="col-sx-12" style="text-align: center; margin-top: 25px">
                    <label>E-mail адрессиңиз</label>
                    {{ form_widget(form.email, {'attr':{'class':'form-control'} }) }}
                </div><br/>
                <div class="col-sx-12" style="text-align: center; margin-top: 25px">
                    <label>Кат</label>
                    {{ form_widget(form.message, {'attr':{'class':'form-control', 'style':'height: 233px; width: 624px;'} }) }}
                </div>
                <div class="col-sx-12" style="text-align: center; margin-top: 25px; margin-bottom: 20px">
                    <label>Сыр соз</label>
                    {{ form_widget(form.captcha) }}
                </div>

                <button type="submit" style="margin-top: 25px; margin-right: 20px" class="btn btn-default detail-sort-call-button pull-right">
                    Жөнөтүү</button>

                {{ form_end(form) }}
            </div>
            {# right menu start  #}
            {{ include('InfoPageBundle:Default:rightMenu.html.twig') }}
            {# right menu end #}
        </div>
    </div>
{% endblock %}