{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {# left Menu start#}
            {{ render(controller('InfoPageBundle:Page:leftMenu')) }}
            {# left Menu end#}

            <div class="col-xs-9">
                <h3 style="color:#337ab7 !important;;  text-align: center" >{{ news.title }}<br> </h3>
                <p>{{ news.text | raw }} </p> <br>
                {{ news.date | date('d.m.Y') }}
                 <br><br>
            </div>
            {# right menu start  #}
            {#{{ include('InfoPageBundle:Default:rightMenu.html.twig') }}#}
            {# right menu end #}
        </div>
    </div>

{% endblock %}


