
<table>
    <div class="content">
        <h2>Жанылыктар</h2>
        {% for entity in entities %}
            <div class="raw">
                <div class="media-rigth media-middle">
                    <a href="{{ path('info_news_get', {'id':entity.id}) }}">
                        <div>
                            {% thumbnail entity.photo, 'small' with {'class': 'thumbnail','alt': '...', 'style': 'float: left; margin-right: 15px'} %}
                        </div>
                        <h3>{{ entity.title }} </h3>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> {{  entity.text|truncate(101)  }} </h4>
                </div>
            </div>
            <br>
            <br>
            <br>
        {% endfor  %}
        <script>
            function findAndReplace(searchText, replacement, searchNode) {
                if (!searchText || typeof replacement === 'undefined') {
                    // Throw error here if you want...
                    return;
                }
                var regex = typeof searchText === 'string' ?
                                new RegExp(searchText, 'g') : searchText,
                        childNodes = (searchNode || document.body).childNodes,
                        cnLength = childNodes.length,
                        excludes = 'html,head,style,title,link,meta,script,object,iframe';
                while (cnLength--) {
                    var currentNode = childNodes[cnLength];
                    if (currentNode.nodeType === 1 &&
                            (excludes + ',').indexOf(currentNode.nodeName.toLowerCase() + ',') === -1) {
                        arguments.callee(searchText, replacement, currentNode);
                    }
                    if (currentNode.nodeType !== 3 || !regex.test(currentNode.data) ) {
                        continue;
                    }
                    var parent = currentNode.parentNode,
                            frag = (function(){
                                var html = currentNode.data.replace(regex, replacement),
                                        wrap = document.createElement('div'),
                                        frag = document.createDocumentFragment();
                                wrap.innerHTML = html;
                                while (wrap.firstChild) {
                                    frag.appendChild(wrap.firstChild);
                                }
                                return frag;
                            })();
                    parent.insertBefore(frag, currentNode);
                    parent.removeChild(currentNode);
                }
            }
            findAndReplace('Следующий', 'fuck you');
        </script>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>


    {#<h3>Наименование грантового проекта: Строительство Лейлекского#}
    {#водохранилища#}
    {#Наименование бенефициара: Маргун, Бешкент, Жаны-Жер,#}
    {#Кулунду айыл Окмоту#}
    {#</h3>#}
    {#</a>#}
    {#</div>#}
    {#<div class="media-body">#}
    {#<h4 class="media-heading">Middle aligned media</h4>#}
    {#dfdlf jsdjfld jslkf jsdljflk#}

    {#</div>#}
    {#</div>#}
    {#<div class="raw">#}
    {#<div class="media-rigth media-middle">#}
    {#<a href="#">#}
    {#<img class="thumbnail" src="{{ asset('public/img/slider4.jpg') }}" alt="..." width="160" height="100"#}
    {#style="float: left; margin-right: 15px">#}
    {#<h3>Наименование грантового проекта: Строительство Лейлекского#}
    {#водохранилища#}
    {#Наименование бенефициара: Маргун, Бешкент, Жаны-Жер,#}
    {#Кулунду айыл Окмоту#}
    {#</h3>#}
    {#</a>#}
    {#</div>#}
    {#<div class="media-body">#}
    {#<h4 class="media-heading">Middle aligned media</h4>#}
    {#dfdlf jsdjfld jslkf jsdljflk#}

    {#</div>#}
    {#<div class="media-rigth media-middle">#}
    {#<a href="#">#}
    {#<img class="thumbnail" src="{{ asset('public/img/slider4.jpg') }}" alt="..." width="160" height="100"#}
    {#style="float: left; margin-right: 15px">#}
    {#<h3>Наименование грантового проекта: Строительство Лейлекского#}
    {#водохранилища#}
    {#Наименование бенефициара: Маргун, Бешкент, Жаны-Жер,#}
    {#Кулунду айыл Окмоту#}
    {#</h3>#}
    {#</a>#}
    {#</div>#}
    {#<div class="media-body">#}
    {#<h4 class="media-heading">Middle aligned media</h4>#}

    {#</div>#}
    {#</div>#}
