{% extends "::base.html.twig" %}
{% block body %}
    <div class="container1">
        <div class="navbar-header" style="margin-bottom: 40px; padding-bottom: 15px">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo-custom" src="{{ asset('public/img/logo.JPG') }}" alt="Logo"
                                                  style="max-height: 100px"/></a>
        </div>
        <br>
        <h2>ЛЕЙЛЕК РАЙОНУНУН МАМЛЕКЕТТИК АДМИНИСТРАЦИЯСЫ</h2>
    </div>
    <br>
    <br> <br>

    <div class="container2">
        <ul class="nav navbar-nav navbar-left">
            <li role="presentation" class="active"><a href="index.html">Негизги бет</a></li>
            <li role="presentation"><a href="istoriya.html">Райондун тарыхы</a></li>
            <li role="presentation"><a href="sostav.html">Администрациянын курамы</a></li>
            <li role="presentation"><a href="vacancy.html">Кызматтык бош орун</a></li>
            <li role="presentation"><a href="contact.html">Байланыш</a></li>
        </ul>
    </div>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <p>
            <form name="search" action="search.php" method="get">
                <input type="text" name="words" value="Поиск..." onfocus="if(this.value='Поиск...') this.value='';"
                       onblur="if(this.value=='') this.value='Поиск...'">
                <button type="submit" class="btn btn-default">Изде</button>
            </form>
            </p>
        </div>
    </form>
    <br>
    <br>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            margin: auto;
        }

    </style>
    <div class="slider">
        <br>
        <style>
            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {
                width: 40%;
                margin: auto;
            }
        </style>
        </head>
        <body>

        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ asset('public/img/slider1.jpg') }}" alt="Акимият" >
                        <div class="carousel-caption">
                            <h3>Акимият</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ asset('public/img/slider2.jpg') }}" alt="Эскеруу Аянты" >
                        <div class="carousel-caption">
                            <h3>Эскеруу Аянты</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ asset('public/img/slider3.jpg') }}" alt="Исфана Базары" >
                        <div class="carousel-caption">
                            <h3>Исфана Базары</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ asset('public/img/slider4.jpg') }}" alt="Лейлек дарбазасы" >
                        <div class="carousel-caption">
                            <h3>Лейлек дарбазасы</h3>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <br>
        <div class="menu-bar">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="ayil.html">Айыл окмоттор</a></li>
                <li role="presentation"><a href="#">Долбоорлор</a></li>
                <li role="presentation"><a href="#">Токтомдор</a></li>
                <li role="presentation"><a href="pikir.php">Суроо-жооптор</a></li>
            </ul>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Коомдук фонд, уюмдар</h4>
                    <p class="list-group-item-text">Орусиянын Эмгек министрлиги жарыялаган маалыматка ылайык,
                        кардиоревматолог,
                    </p>
                </a>
            </div>

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Сиздин сунуштарыныз жана кайрылууларыныз!</h4>
                    <p class="list-group-item-text">Орусиянын Эмгек министрлиги жарыялаган маалыматка ылайык,
                        кардиоревматолог,
                    </p>
                </a>
            </div>
            <br>
        </div>


        {{ render(controller('InfoNewsBundle:News:listMainNews')) }}


        <div class="footer">

            <address>
                <strong>Биздин дарек</strong><br>
                Лейлек району,Исфана шаары<br>
                Кошмуратов кочосу. №46 <br>
                Телефон: (0-3656) 5-00-06 <br>
                Факс:5-00-09
            </address>
            <address>
                <a href="mailto:#">www.leylek.kg</a>
            </address>
            <p class="connect">Join us on <a href="http://www.facebook.com">Facebook</a> &amp; <a
                        href="http://www.gmail.com">@gmail</a></p>
        </div>
        <div class="chooce">
            <ul class="nav navbar-nav navbar-rigth">
                <li><a href="#">Кыргызча</a></li>
                <ul class="nav navbar-nav navbar-rigth">
                    <li><a href="#">Русский</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <br>
    <br>



{% endblock %}
